{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Login{% endblock title %}

{% block content %}
    <div class="container mx-auto">
        <h1>Home</h1>
        <form method="post" class="my-4">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Login</button>
                <a href="{% url 'register' %}" class="text-decoration-none">Register</a>
            </div>
        </form>
    </div>
{% endblock %}