{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Profiles{% endblock title %}

{% block content %}
    <div class="container mx-auto">
        {% for file in files %}
            <div class="mb-5">
                <h2 class="text-primary">File {{ file.user_profile_id }}</h2>
                {% if file.status == False %}
                    <p class="text-danger">Processing</p>
                {% else %}
                    <p class="text-success">Done</p>
                {% endif %}
                <div class="d-flex align-items-center">
                    {% if file.status == True %}
                        <a href="{% url 'visualize' profile_id=file.user_profile_id %}" class="btn btn-primary">Visualize</a>
                    {% endif %}
                    <form method="post" action="{% url 'delete_profile' profile_id=file.user_profile_id %}" class="ms-3">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Delete Profile</button>
                    </form>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}