<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualize Profile</title>
</head>
<body>
    <h1>Visualize Profile</h1>
    {% for record in profile_watch_records %}
        <p>Watched at: {{ record.time }}</p>
        <p>Video name: {{ record.video__name }}</p>
        <p>Chanel name: {{ record.video__chanel__name }}</p>
        <p>Category name: {{ record.video__category__name }}</p>

        <hr>
    {% endfor %}
</body>
</html>
