amqp==5.2.0
asgiref==3.7.2
beautifulsoup4==4.12.2
billiard==4.2.0
celery==5.3.5
certifi==2023.7.22
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cron_descriptor==1.4.0
Django==4.1.13
django-bootstrap5==23.3
django-celery-beat==2.5.0
django-pandas==0.6.6
django-timezone-field==6.1.0
djongo==1.3.6
dnspython==2.4.2
GitPython==3.1.37
idna==3.4
kombu==5.3.3
mongoengine==0.27.0
numpy==1.26.1
packaging==23.2
pandas==2.1.3
plotly==5.18.0
prompt-toolkit==3.0.40
psycopg2==2.9.9
pymongo==4.6.0
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.8
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.2.4
tenacity==8.2.3
tzdata==2023.3
urllib3==2.0.7
vine==5.1.0
wcwidth==0.2.9
